.Form{
    width: 500px;
    height: 450px;
    padding: 10px;
    margin: 20px auto;
    border: 1px solid black;
    border-radius: 5%;
    -webkit-box-shadow: 10px 10px 5px 0px rgb(8, 42, 57);
    -moz-box-shadow: 10px 10px 5px 0px rgb(8, 42, 57);
    box-shadow: 10px 10px 5px 0px rgb(8, 42, 57);
}