.Container {
  margin: 20px;
  width: 800px;
}
.Container table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    font-size: x-small;
  }
  
.Container td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
.Container tr:nth-child(even) {
    background-color: #dddddd;
  }
.Container p {
  display: inline-block;
  margin: auto, 5px;
}