.Button {
    background-color: rgb(8, 42, 57);
    color: white;
    border-radius: 8%;
    outline: none;
    cursor: pointer;
    font: inherit;
    padding: 10px;
    margin: 10px;
    font-weight: bold;
    text-align: center;
}
.Button:disabled{
    color: white;
    background-color: rgba(214, 59, 42, 0.8);
    cursor: not-allowed;
}

.Success {
    color: rgb(8, 42, 57);
}

.Danger {
    color: #944317;
}

.Info{
    background-color:  rgb(50, 162, 227);
    border: none;
    border-radius: 10%;
    color: white;
    padding: 4px 30px;
}