.Button {
    background-color: #cccc;
    border: 1px solid rgb(8, 42, 57);
    border-radius: 8%;
    color: rgb(8, 42, 57);
    outline: none;
    cursor: pointer;
    font: inherit;
    padding: 10px;
    margin: 10px;
    font-weight: bold;
}

.Button:first-of-type {
    margin-left: 0;
    padding-left: 0;
}
.Button:disabled{
    color: rgb(225, 92, 77);
    cursor: not-allowed;
}

.Success {
    color: rgb(8, 42, 57);
}

.Danger {
    color: #944317;
}