.Container{
    display: flex;
    text-align: center;
    width: 80%;
    margin: 0 2%;
}
.Chart{
    position: relative;
    width:100%;
}
@media(max-width: 500px){
    .Container{
        width: 100%;
    }
    .Chart{
        display: none;
    }
}