.Container{
    width: 100%;
    border-bottom: 3px solid #cccc;
    height: 50px;
    padding: 10px;
}
.Container p{
    display: inline-block;
    margin: auto 10px;
}
.Price{
    font-weight: bold;
    font-size: x-large;
}
.Date{
    font-size: small;
}
@media only screen and (max-width: 430px){
    .Date{
        display: none;
    }
}